{% load static %}

 <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/icon/logo.png' %}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>University</a>
                        </li>
                        <li>
                            <a href="{% url 'faculty_list' %}">
                                <i class="fas fa-chart-bar"></i>Faculties</a>
                        </li>
                        <li>
                            <a href="{% url 'direction_list' %}">
                                <i class="fas fa-table"></i>Directions</a>
                        </li>
                        <li>
                            <a href="{% url 'subject_list' %}">
                                <i class="far fa-check-square"></i>Subjects</a>
                        </li>
                        <li>
                            <a href="{% url 'teacher_list' %}">
                                <i class="fas fa-calendar-alt"></i>Teachers</a>
                        </li>
                        <li>
                            <a href="{% url 'group_list' %}">
                                <i class="fas fa-map-marker-alt"></i>Groups</a>
                        </li>
                        <li>
                            <a href="{% url 'student_list' %}">
                                <i class="fas fa-map-marker-alt"></i>Students</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->